name: rooftop-ai
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - opencv
  - pillow
  - requests
  - tqdm
  - pytorch
  - torchvision
